<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SportFlare - Sklep Sportowy</title>
        <script src="https://kit.fontawesome.com/3657dbfb53.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="cart.css">
    </head>

    <body>
        <section id="header">
            <a href="/"><img src="images/logo.png" id="logo" alt=""></a>

            <div id="navbar">
                <li id="search"> 
                    <form id="search-form" action="/sklep" method="GET">
                        <a id="search-icon"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <input type="text" id="search-inp" name="searchinp" value="<%= searchOptions.name %>">
                    </form>
                </li>
                <li><a href="/">Strona Główna</a></li>
                <li><a href="/sklep">Sklep</a></li>
                <% if (!isLoggedIn) {%>
                <li><a href="/logowanie">Zaloguj się</a></li>
                <% }%>
                <% if (isAdmin) { %>
                <li><a href="/admin">Zarządzaj</a></li>
                <% } %>
                <% if (isLoggedIn) {%>
                <li><form action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Wyloguj się</button>
                </form></li>
                <li><a class="active" href="/koszyk"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                <% } %>
            </div>
        </section>

        <section id="cart">
            <% let amount = 0;
                cart.forEach(item => {
                amount += 1;
            }); %>
            <h3 id="amount_of_prod">
                <% if (amount == 1) { %>
                  <%= amount %> Produkt
                <% } else if (amount >= 2 && amount <= 4) { %>
                  <%= amount %> Produkty
                <% } else { %>
                  <%= amount %> Produktów
                <% } %>
              </h3>
            <% items.forEach(item => { %>
            <div class="card">
                <div class="image">
                    <img src="<%= item.imagePath %>">
                </div>
        
                <div class="caption">
                    <p class="name"><%= item.name %></p>
                    <p class="price"><b><%= item.price * (cart.find(cartItem => cartItem.id === item.id)?.amount || 1) %> zł</b></p>
                    <div class="amount">
                        <p>Ilość: <%= cart.find(cartItem => cartItem.id === item.id)?.amount || 1 %></p>
                    </div>
                    <form action="/<%= item.id %>/remove?_method=PUT" method="POST">
                        <button type="submit" class="remove">Usuń</button>
                    </form>
                </div>
            </div>
            <% }) %>
            <% let sum = 0;
                cart.forEach(cartItem => {
                    let item = items.find(item => item.id === cartItem.id);
                    if (item) {
                        sum += item.price * cartItem.amount;
                    }
                }); %>
            <h2 id="total_price">Suma: <%= sum %> zł</h2>
        </section>

        <footer>
            <div id="col">
                <img src="images/logo.png" id="logo" alt="">
                <h4>Kontakt</h4>
                <p><strong>Adres: </strong>ul. Księżycowa 42 50-999 Wrocław</p>
                <p><strong>Telefon: </strong>+48 123 456 789</p>
                <p><strong>Godziny Otwarcia: </strong>10:00 - 22:00, Pon-Sob</p>
            </div>
            <div id="col">
                <h4>Konto</h4>
                <% if (isLoggedIn) {%>
                <a href="#"><p>Koszyk</p></a>
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Wyloguj się</button>
                </form>
                    <% } else {%>
                <a href="/logowanie"><p >Zaloguj się</p></a>
                <a href="/rejestracja"><p >Zarejestruj się</p></a>
                <a href="/rejestracja"><p >Odzyskaj hasło</p></a>
                <% }%>
            </div>
            <div id="col">
                <h4>Social Media</h4>
                <div id="icons">
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/" target="_blank">
                        <i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
                    <a href="https://pl.pinterest.com/" target="_blank">
                        <i class="fa-brands fa-pinterest" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/" target="_blank">
                        <i class="fa-brands fa-youtube" aria-hidden="true"></i></a>
                </div>
            </div>
        </footer>

        <script>
            var searchInput = document.getElementById('search-inp')

            document.getElementById('search-icon').addEventListener('click', function () {
                searchInput.classList.toggle('show')
            });

            document.getElementById("search-inp").addEventListener("keyup", function(event) {
            
                if (event.key === "Enter" || event.keyCode === 13) {
                    submitSearch()
                }
            });

            function submitSearch() {
                var form = document.getElementById("search-form")
                form.submit()
            }
        </script>
    </body>
</html>