<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SportFlare - Sklep Sportowy</title>
        <script src="https://kit.fontawesome.com/3657dbfb53.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="management.css">
    </head>

    <body>
        <section id="header">
            <a href="/"><img src="images/logo.png" id="logo" alt=""></a>

            <div id="navbar">
                <li id="search"> 
                    <form id="search-form" action="/sklep" method="GET">
                        <a id="search-icon"><i class="fa fa-search" aria-hidden="true"></i></a>
                        <input type="text" id="search-inp" name="searchinp" value="<%= searchOptions.name %>">
                    </form>
                </li>
                <li><a href="/">Strona Główna</a></li>
                <li><a href="/sklep">Sklep</a></li>
                <% if (!isLoggedIn) {%>
                <li><a href="/logowanie">Zaloguj się</a></li>
                <% }%>
                <% if (isAdmin) { %>
                <li><a class="active" href="/admin">Zarządzaj</a></li>
                <% } %>
                <% if (isLoggedIn) {%>
                <li><form action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Wyloguj się</button>
                </form></li>
                <li><a href="/koszyk"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                <% } %>
            </div>
        </section>

        <form id="add" action="/admin" method="POST" enctype="multipart/form-data">
            <h2>Dodaj produkt</h2>
            <% if (locals.errorMessage != null) { %>
                <%=errorMessage%>
            <% } %>
            <input type="text" name="name" id="name" placeholder="Nazwa" required>
            <textarea name="description" id="description" placeholder="Opis"></textarea>
            <input type="number" name="price" id="price" min="1" placeholder="Cena (PLN)" required>
            <input type="file" name="image" id="image" required hidden>
            <button id="choose" onclick="chooseImage()">Prześlij obraz</button>
            <input type="submit" value="Prześlij" name="submit">
        </form>

        <h2 class="title">Zamówienia</h2>
        <% if (orders.length === 0) { %>
        <p>Brak zamówień</p>
        <% } %>
        <section id="orders"> 
            <% orders.forEach(order => { 
                let sum = 0 %>
            <div class="order">
                <p id="user">Klient: <%= users.find(user => user.id === order.user).email %></p>
                <% order.items.forEach(item => { 
                    let i = items.find(j => j.id === item.id);
                    if (i) {
                        sum += i.price * item.amount;
                    } %>
                <div class="item_list">
                    <p><%= items.find(i => i.id === item.id).name %></p>
                    <p>Ilość: <%= item.amount %></p>
                    <p><%= items.find(i => i.id === item.id).price * item.amount %> zł</p>
                </div>
                <% })%>
                <p>Suma <%= sum %> zł</p>
            </div>
            <% }) %>
        </section>

        <h2 class="title">Użytkownicy</h2>
        <section id="users">
            <% users.forEach(user => { %>
            <div class="user">
                <p>Nazwa: <%= user.name %></p>
                <p>E-mail: <%= user.email %></p>
                <p>Rola: <%= user.role %></p>
            </div>
            <% }) %>
        </section>

        <h2 class="title">Produkty</h2>
        <section id="products">
            <% items.forEach(item => { %>
            <div class="card">
                <a href="#">
                <div class="image">
                    <img src="<%= item.imagePath %>">
                </div>
                <div class="caption">
                    <p class="prod_name"><%= item.name %></p>
                    <p class="prod_price"><%= item.price %> zł</p>
                </div>
                <div class="edit">
                    <button onclick="location.href='/edit/<%= item.id %>'">Edytuj</button>
                </div>
                <form class="remove" action="/<%= item.id %>?_method=DELETE" method="POST">
                    <button type="submit">Usuń</button>
                </form>
            </a></div>
            <% }) %>
        </section>

        <footer>
            <div id="col">
                <img src="images/logo.png" id="logo" alt="">
                <h4>Kontakt</h4>
                <p><strong>Adres: </strong>ul. Księżycowa 42 50-999 Wrocław</p>
                <p><strong>Telefon: </strong>+48 123 456 789</p>
                <p><strong>Godziny Otwarcia: </strong>10:00 - 22:00, Pon-Sob</p>
            </div>
            <div id="col">
                <h4>Konto</h4>
                <% if (isLoggedIn) {%>
                <a href="#"><p>Koszyk</p></a>
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Wyloguj się</button>
                </form>
                    <% } else {%>
                <a href="/logowanie"><p >Zaloguj się</p></a>
                <a href="/rejestracja"><p >Zarejestruj się</p></a>
                <a href="#"><p >Odzyskaj hasło</p></a>
                <% }%>
            </div>
            <div id="col">
                <h4>Social Media</h4>
                <div id="icons">
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/" target="_blank">
                        <i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
                    <a href="https://pl.pinterest.com/" target="_blank">
                        <i class="fa-brands fa-pinterest" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/" target="_blank">
                        <i class="fa-brands fa-youtube" aria-hidden="true"></i></a>
                </div>
            </div>
        </footer>


        <script>
            var searchInput = document.getElementById('search-inp')

            document.getElementById('search-icon').addEventListener('click', function () {
                searchInput.classList.toggle('show')
            })

            document.getElementById("search-inp").addEventListener("keyup", function (event) {

                if (event.key === "Enter" || event.keyCode === 13) {
                    submitSearch()
                }
            })

            function submitSearch() {
                var form = document.getElementById("search-form")
                form.submit()
            }

            function chooseImage() {
                var fileInput = document.getElementById('image');
                fileInput.click();
            }
        </script>
    </body>
</html>